body{
    background-color: black;
}
h1{
    font-size: 2rem;
}
.daisy-img{
    border: 10px solid violet;
    width: 80%;
    
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: violet;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

@media (max-width: 680px) {
    h1 {
        font-size: 20px;
    }
}




